h1 {
    color: #ee2c60;

}
p,
li{
    color: #074114;
}
body {
    background-color: #d7c7f5;
}
h2 {
    color: #ee2c60;
}
.layout {
    width: 1366px;
    height: 768px;

    display: grid;
    grid-template-rows: 55px 115px 400px 175px;
    grid-template-columns: 800px 560px;
    gap: 10px;
    
    border-style: solid;
    border-color: black;
}
ul {
    list-style-type: row;
}
.box1 {
    border: #000000;
    width: 50px;
    height: 25px;
}